<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>bg_undp_gems.fieldvisit</string>
		<string>bg_undp_gems.addnewchng</string>
		<string>bg_undp_gems.fetchothoff</string>
		<string>bg_undp_gems.fetchallloc</string>
		<string>bg_undp_gems.clrfvloc</string>
		<string>bg_undp_gems.clraddnfvloc</string>
		<string>bg_ios_undp_gems.fallocbg</string>

	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Village Court Gems</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>village_court_gems</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSCameraUsageDescription</key>
	<string>This app requires to access your photo library to show image on profile</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>GEMS needs Location access to show nearest field visit</string>
	<key>NSLocationUsageDescription</key>
	<string>To show field visit of the registered user, apps required to know user approximate location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To show field visit of the registered user, apps required to know user approximate location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires to access your microphone to record video with your</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires to access your photo library to show image on profile</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

</dict>
</plist>
